 <div class="redes">
    <a href="https://es-la.facebook.com/agustin.fornasiero/"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/agufornasiero/"><i class="fa-brands fa-instagram"></i></a>
    <a href="live:agustin_fornasiero"><i class="fa-brands fa-skype"></i></a>
    <a href="https://ar.linkedin.com/in/agust%C3%ADn-fornasiero"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/agustinfornasiero"><i class="fa-brands fa-github"></i></a>

</div>