<div>
    <a href="https://es-la.facebook.com/agustin.fornasiero/"><img src="../../../assets/facebook.png" alt="Facebook Profile"></a>
    <a href="https://www.instagram.com/agufornasiero/"><img src="../../../assets/instagram.png" alt="Instagram Profile"></a>
    <a href="#"><img src="../../../assets/twitter.png" alt="Twitter Profile"></a>
    <a href="https://ar.linkedin.com/in/agust%C3%ADn-fornasiero"><img src="../../../assets/linkedin.png" alt="LinkedIn Profile"></a>
    <a href="https://github.com/agustinfornasiero"><img src="../../../assets/github.png" alt="Github Profile"></a>
</div>

